@charset "UTF-8";
.grid-container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "title-container title-container"
    "profile-container myprofile-title-container";
}

.profile-container { grid-area: profile-container; }

.myprofile-title-container { grid-area: myprofile-title-container; }

.title-container { grid-area: title-container; }
